{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#">Test </a> </li>
            {% if isGranted("ROLE_ADMIN") %}
                <li><a href="{{ path('logout') }}">Logout</a> </li>
                <li><a href="{{ path('livre_add') }}">Ajouter une livre</a> </li>
            {% else %}
                <li><a href="{{ path('login') }}">Login</a> </li>
                <li><a href="{{ path('register') }}">Register</a> </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
