{% extends 'base.html.twig' %}

{% block main %}
    <h1>Ajoutez une livre</h1>

    {{ form_start(livreForm) }}
    {{ form_widget(livreForm) }}
    <button type="submit">Send!</button>
    {{ form_end(livreForm) }}

{% endblock %}

{% block title %}Ajoutez une livre | {{ parent() }}{% endblock %}