{% extends 'base.html.twig' %}

{% block main %}
    <h1>Livres en stock!</h1>
    {%for livre in livres%}
        <div class="livre">
            <a href="{{ path('livre_detail', {'id': livre.id}) }}">{{ livre.nom_livre }}</a>
        </div>
    {% endfor %}

{% endblock %}

{% block title %}Livres en stock! | {{ parent() }}{% endblock %}